/* This is the CSS file for styling the webpage. It is linked in the HTML file using the <link> tag. */
html {
    background-color:rgb(151, 125, 87);
    font-family:'Times New Roman', Times, serif;
    font-size: 14px;
}
/*  This applies to only the body of the webpage */
body {
    margin: 25px;
    background-color:rgb(140, 125, 104);
    font-family:'Times New Roman', Times, serif;
    font-size: 14px;
}
/* for <h1>....</h1> styling */
h1 {
    font-size: 35px;
    font-weight: normal;
    margin-top: 5px;
}
